# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.python-version
uv.lock

# Blender
*.blend
*.blend1
*.blend2
blender_jps/modules/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
*.zip
/*.md

# emacs
*~